<?xml version="1.0"?>
<config>
    <modules>
        <Clean_ElasticSearch>
            <version>1.0.0</version>
        </Clean_ElasticSearch>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <page_header>Clean_ElasticSearch_Block_Page_Header</page_header>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>